@model Ticket
@{
    ViewBag.Title = "Confirm Unarchive";
}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card custom-card hover-card overflow-hidden">
            <div class="card-body ps-3">
                <h5 class="card-title">Confirm Unarchive</h5>
                <p class="card-text">Are you sure you want to unarchive this ticket?</p>
                <form asp-action="ConfirmUnarchive" asp-controller="Tickets">
                    <input type="hidden" name="ticketId" value="@Model.Id" />
                    <div class="form-group">
                        <a asp-action="Details" asp-controller="Tickets" asp-route-ticketId="@Model.Id"
                           class="btn ripple btn-primary">Cancel</a>
                        <button class="btn ripple btn-danger ms-3" type="submit">Unarchive</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <partial name="_TicketDescriptionPartial" model="@Model" />
    </div>
</div>