@using Microsoft.AspNetCore.Identity;
@model Ticket
@inject UserManager<BTUser> _UserManager
@inject IRoleService _RoleService
@{
    ViewData["Title"] = "Create";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProjectId" value="@ViewBag.ProjectId" />
    <div class="row g-3">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control content5" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="TicketTypeId" class="control-label">Ticket Type</label>
                <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypes"></select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="TicketPriorityId" class="control-label">Ticket Priority</label>
                <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorities"></select>
            </div>
        </div>
        @if (User.IsInRole(nameof(BTRoles.Admin)))
        {
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label asp-for="DeveloperUserId" class="control-label">Developer User</label>
                    <select name="selectedDevId" class="form-control" asp-items="ViewBag.DeveloperUsers">
                        <option>Unassigned</option>
                    </select>
                </div>
            </div>
        }
        <div class="col-12 col-md-6">
            <div class="d-flex">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-controller="Tickets" asp-action="Index"
                   class="btn btn-danger ms-3">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}