@using Microsoft.AspNetCore.Identity;
@model Ticket
@inject UserManager<BTUser> _UserManager
@inject IRoleService _RoleService
@{
    ViewData["Title"] = "Edit";
}
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="ticketId" value="@Model.Id" />
    <input type="hidden" asp-for="ProjectId" value="@ViewBag.ProjectId" />
    <div class="row g-3">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control content5" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex">
                <button type="submit" class="btn btn-primary">Edit</button>
                <a asp-controller="Tickets" asp-action="Index"
                   class="btn btn-danger ms-3">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
