@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<!-- Row -->
<div class="row sidemenu-height">
	<div class="col-md-12">
		<div class="construction1 text-center details">
			<div class="">
				<div class="col-lg-12">
					<h1 class="tx-140 mb-0">@Model.ErrorCode</h1>
				</div>
				<div class="col-lg-12 ">
					<h1 class="text-danger">Error</h1>
					<h2 class="text-danger">An error occurred while processing your request.</h2>
					<h6 class="tx-15 mt-3 mb-4 text-muted">@Model.ExceptionMessage</h6>
					<a class="btn ripple btn-success text-center mb-2" href="index.html">Back to Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Row -->