@using Microsoft.AspNetCore.Identity;
@using Chrysalis.Enums
@inject UserManager<BTUser> _UserManager
@inject ICompanyService _CompanyService
@inject ITicketService _TicketService
@inject IFileService _FileService

@{
    BTUser currentUser = ViewBag.CurrentUser;
    IEnumerable<Ticket> userTickets = ViewBag.UserTickets;
    IEnumerable<Ticket> importantTickets = ViewBag.ImportantTickets;
}

<!--Row-->
<div class="row row-sm mt-lg-4">
    <div class="col-12">
        <div class="card bg-primary custom-card card-box">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-12">
                        <h4 class="d-flex  mb-3">
                            <span class="font-weight-bold text-white">Hello, @currentUser.FullName!</span>
                        </h4>
                        <p class="tx-white-7 mb-1">
                            You have @userTickets.Count() tickets assigned to you
                            @if (importantTickets.Count() == 1)
                            {
                                <span>, and @importantTickets.Count() unresolved ticket of at least high priority.</span>
                            }
                            else if (importantTickets.Count() > 1)
                            {
                                <span>, and @importantTickets.Count() unresolved tickets of at least high priority.</span>
                            }
                            else
                            {
                                <span>.</span>
                            }
                        </p>
                    </div>
                    @* <img src="~/img/DefaultUserImage-Transparent.png" alt="Model User"
                         class="rounded" style="width:250px;" /> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!--Row -->