@{
    ViewBag.Title = "Chrysalis";
    Layout = "_LandingLayout";
}

<!--app-content open-->
<div class="main-content mt-0">
    <div class="side-app">
        <!-- Start Highlight Features -->
        <div class="sptb section bg-white" id="Features">
            <div class="container">
                <div class="row">
                    <h2 class="text-center fw-semibold landing-card-header">ChrysalisFeatures</h2>
                    <span class="landing-title"></span>
                    <p class="text-default mb-5 text-center">
                        This robust issue tracker comes with ready-to-use features to get your projects off the ground.
                    </p>
                    <div class="row g-3 mt-7">
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-1 wow fadeInUp reveal revealleft h-100"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="bi bi-easel text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Projects</h4>
                                        <p class="mb-0">
                                            Create project for complex issues with multiple stages and assign company
                                            members to turn your dreams into realities.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-2 wow fadeInUp reveal revealleft h-100"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="bi bi-hourglass-bottom text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Progress</h4>
                                        <p class="mb-0">
                                            Easily keep track of how much time is left on your projects with progress
                                            bars that update automatically based on start and end dates.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-3 wow fadeInUp reveal revealleft h-100"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="bi bi-list-task text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Tickets</h4>
                                        <p class="mb-0">
                                            Assign tickets to project members, which adjustable priorities, types,
                                            and statuses.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-4 wow fadeInUp reveal revealleft h-100"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="bi bi-person-x text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Assignment</h4>
                                        <p class="mb-0">
                                            Forgot to assign a ticket? The dashboard includes a helpful reminder of
                                            how many tickets need a developer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-5 wow fadeInUp reveal revealleft h-100"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="bi bi-chat-left-text text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Comments</h4>
                                        <p class="mb-0">
                                            Developers can easily leave ticket comments on progress, and users
                                            submitting tickets can read and respond.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-6 wow fadeInUp reveal revealleft h-100"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="bi bi-paperclip text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Attachments</h4>
                                        <p class="mb-0">
                                            Users can attach files to tickets that can be downloaded by other users
                                            working on those tickets.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-7 wow fadeInUp reveal revealleft h-100"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="bi bi-archive text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Archive</h4>
                                        <p class="mb-0">
                                            When a project is complete, easily archive it and all its associated tickets
                                            with the click of a button.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-8 wow fadeInUp reveal revealleft h-100"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="bi bi-key text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Permissions</h4>
                                        <p class="mb-0">
                                            Company admins can easily change employees roles to adjust what they can
                                            access and change.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="~/home/index" class="text-decoration-none">
                                <div class="card features main-features main-features-9 wow fadeInUp reveal revealleft"
                                     data-wow-delay="0.1s">
                                    <div class="card-body">
                                        <div class="counter-body-2">
                                            <div class="bg-img mb-2 text-left hexagon-wrapper">
                                                <div class="counter-icon hexagon" @* style="background-color: #6259ca;" *@>
                                                    <img src="~/img/Chrysalis-Logo_Transparent-White_Small.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-left counter-body">
                                            <h4 class="fw-bold" style="color: #000000!important;">What are you waiting for?</h4>
                                            <p class="mb-0" style="color: #000000!important;">
                                                <strong>Click here</strong> to register your company today, and start turning your issues into successes!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Highlight Features -->
    </div>
</div>