@{
    ViewBag.Title = "Chrysalis";
    Layout = "_LandingLayout";
}

<!--app-content open-->
<div class="main-content mt-0">
    <div class="side-app">
        <!-- Start Highlight Features -->
        <div class="sptb section bg-white" id="Features">
            <div class="container">
                <div class="row">
                    <h4 class="text-center fw-semibold landing-card-header">Features</h4>
                    <span class="landing-title"></span>
                    <h2 class="fw-semibold text-center">Spruha Main Features</h2>
                    <p class="text-default mb-5 text-center">
                        The Spruha admin template comes with
                        ready-to-use features that are completely easy-to-use for any user, even for
                        a beginner.
                    </p>
                    <div class="row mt-7">
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-1 wow fadeInUp reveal revealleft"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="fe fe-package text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Unique Design</h4>
                                        <p class="mb-0">
                                            Spruha has a unique design that you cannot compare
                                            with any other templates. It has unique Design
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-2 wow fadeInUp reveal revealleft"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="fe fe-code text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Quality &amp; Clean Code</h4>
                                        <p class="mb-0">
                                            The Spruha admin code is maintained very cleanly and
                                            well-structured with proper
                                            comments.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-3 wow fadeInUp reveal revealleft"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="fe fe-layers text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Multiple Demos</h4>
                                        <p class="mb-0">
                                            We included multiple demos, preview video, and screen shots to
                                            give a quick overview of our Dashlead admin template.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-4 wow fadeInUp reveal revealleft"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="fe fe-book-open text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Well Documentation</h4>
                                        <p class="mb-0">
                                            The documentation provides clear-cut material and is instructed
                                            with such a way
                                            that every user can understand.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-5 wow fadeInUp reveal revealleft"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="fe fe-file text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">User Pages</h4>
                                        <p class="mb-0">
                                            The most advanced "User Pages" are included in this template,
                                            like registration,
                                            profile, and log-in pages, etc.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-6 wow fadeInUp reveal revealleft"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="fe fe-aperture text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Modern UI Widgets</h4>
                                        <p class="mb-0">
                                            Modern widgets are included in this template. Please check out
                                            the best option
                                            that suits for your projects.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-7 wow fadeInUp reveal revealleft"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="fe fe-box text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">100+ UI Components</h4>
                                        <p class="mb-0">
                                            Tempor accusam magna ipsum ea et. Sanctus aliquyam ea duo sit
                                            consetetur Labore stet sed.. Labore stet sed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card features main-features main-features-8 wow fadeInUp reveal revealleft"
                                 data-wow-delay="0.1s">
                                <div class="card-body">
                                    <div class="counter-body-2">
                                        <div class="bg-img mb-2 text-left hexagon-wrapper">
                                            <div class="counter-icon hexagon">
                                                <i class="fe fe-file-text text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-left counter-body">
                                        <h4 class="fw-bold">Validating Forms</h4>
                                        <p class="mb-0">
                                            Tempor accusam magna ipsum ea et. Sanctus aliquyam ea duo sit
                                            consetetur. Labore stet sed. Labore stet sed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Highlight Features -->
    </div>
</div>