@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}


<!-- Row -->
<div class="row signpages text-center">
    <div class="col-md-12">
        <div class="card">
            <div class="row row-sm">
                <div class="col-lg-6 col-xl-5 d-none d-lg-block text-center bg-primary details">
                    <div class="mt-5 pt-4 p-2 pos-absolute">
                        <img src="~/assets/img/brand/logo-light.png" class="d-lg-none header-brand-img text-start float-start mb-4 error-logo-light" alt="logo">
                        <img src="~/assets/img/brand/logo.png" class=" d-lg-none header-brand-img text-start float-start mb-4 error-logo" alt="logo">
                        <div class="clearfix"></div>
                        <img src="~/assets/img/svgs/user.svg" class="ht-100 mb-0" alt="user">
                        <h5 class="mt-4 text-white">Create Your Account</h5>
                        <span class="tx-white-6 tx-13 mb-5 mt-xl-0">Signup to create, discover and connect with the global community</span>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7 col-xs-12 col-sm-12 login_form ">
                    <div class="main-container container-fluid">
                        <div class="row row-sm">
                            <div class="card-body mt-2 mb-2">
                                <img src="~/assets/img/brand/logo.png" class=" d-lg-none header-brand-img text-start float-start mb-4" alt="logo">
                                <div class="clearfix"></div>
                                <form id="account" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <h5 class="text-start mb-2">Log in to Your Account</h5>
                                    <p class="mb-4 text-muted tx-13 ms-0 text-start">Log in to create, discover and connect with the global community</p>
                                    <div class="form-group text-start">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="Input.Email" class="form-label">Email</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group text-start">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                        <label asp-for="Input.Password" class="form-label">Password</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="checkbox mb-3">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <button type="submit" class="btn ripple btn-main-primary btn-block">Log In</button>
                                </form>
                                <div class="text-start mt-5 ms-0">
                                    <div class="mb-1">
                                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </div>
                                    <div>
                                        Don't have an account?
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"> Register here.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
