@using Microsoft.AspNetCore.Identity;
@model IEnumerable<BTUser>
@inject IRoleService _RoleService
@inject IFileService _FileService

@{
    ViewBag.Title = "Manage Roles";
}

<div class="row ps-3">
    <div class="d-flex">
        <h3>Manage Member Roles</h3>
        <!-- TO-DO: Search -->
    </div>
    <div id="memberCards" class="row g-3">
        @foreach (BTUser member in Model)
        {
            <div class="col-12 col-md-6">
                <div class="card custom-card card-aside hover-card">
                    @*TO-DO: Add link to user profile or something similar*@
                    <a class="card-aside-column cover-image rounded-start-11" href="#"
                       data-image-src="@_FileService.ConvertByteArrayToFile(member.ImageData,member.ImageType,DefaultImage.BTUserImage)"
                       style="background: url('@_FileService.ConvertByteArrayToFile(member.ImageData,member.ImageType,DefaultImage.BTUserImage)') center"></a>
                    <div class="card-body ps-3">
                        <h5 class="main-content-label tx-dark tx-medium">@member?.FullName</h5>
                        <p>Current role: @((await _RoleService.GetUserRolesAsync(member)).First())</p>
                        <form asp-action="ManageUserRolesConfirmed" asp-controller="Companies" method=post>
                            <input type="hidden" name="userId" value="@member!.Id" />
                            <div class="input-group">
                                <select name="selected" class="form-control" asp-items="@await _RoleService.GetUserRoleSelectListAsync(member)"></select>
                                <button type="submit" class="btn btn-primary"><i class="bi bi-floppy-fill"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <!--Start search function-->
    <script>
        $(document).ready(function () {
            $('#memberSearch').keyup(function () {
                let searchString = $(this).val();
                $(`.card > .col-3:not( :contains(${searchString}))`).hide();
                $(`.card > .col-3:contains(${searchString})`).show();
            });
        });
    </script>
    <!--End search function-->
    <!--Sweet Alerts-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let message = '@(ViewBag.SwalMessage)';
        if (!message.includes("Error") && message != '') {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            });
        } else if (message.includes("Error")) {
            Swal.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops...',
                text: message
            });
        }
    </script>
    <!--End Sweet Alerts-->
}