@using Microsoft.AspNetCore.Identity;
@model IEnumerable<BTUser>
@inject IRoleService _RoleService

@{
    ViewBag.Title = "Manage Roles";
}

<div class="row">
    <div class="d-flex flex-column flex-md-row">
        <h2 class="m-t-0 h3"><b>Manage Member Roles </b></h2>
        <input id="memberSearch" type="search" class="form-control" />
    </div>
    <div id="memberCards" class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
        @foreach (BTUser member in Model)
        {
            <form asp-action="ManageUserRolesConfirmed" asp-controller="Companies" method=post>
                <input type="hidden" name="userId" value="@member.Id" />
                <div class="card col row">
                    <div class="col-3">@member.FullName</div>
                    <div class="col-6"><select name="selected" class="form-control" asp-items="@await _RoleService.GetUserRoleSelectListAsync(member)"></select></div>
                    <div class="col-3"><button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button></div>
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
    <!--Start search function-->
    <script>
        $(document).ready(function () {
            $('#memberSearch').keyup(function () {
                let searchString = $(this).val();
                $(`.card > .col-3:not( :contains(${searchString}))`).hide();
                $(`.card > .col-3:contains(${searchString})`).show();
            });
        });
    </script>
    <!--End search function-->
    <!--Sweet Alerts-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let message = '@(ViewBag.SwalMessage)';
        if (!message.includes("Error") && message != '') {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            });
        } else if (message.includes("Error")) {
            Swal.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops...',
                text: message
            });
        }
    </script>
    <!--End Sweet Alerts-->
}