@model IEnumerable<Project>
@inject IProjectService _ProjectService
@inject IFileService _FileService

@{
    ViewData["Title"] = "Archived Projects";
}

<div class="row">
    <div class="col-12 col-md-6 text-end">
        @*TO-DO: Search function*@
    </div>
</div>
<partial name="_CompanyProjectsTablePartial" model="Model" />