@model Project
@inject IProjectService _ProjectService
@inject IFileService _FileService

@{
    ViewData["Title"] = "Project Members";
}

<div>
    <div class="container-fluid">
        <form asp-action="Members">
            <div class="row gy-2">
                <div class="col-md-4 col mt-5 ">
                    <div class="bg-secondary">
                        <div class="card m-1 p-2">
                            <div class="header">
                                <h2>Project Team</h2>
                                <hr />
                            </div>
                            <div class="body" style="overflow-y:auto;height:300px;">
                                <ul class="right_chat list-unstyled mb-0">
                                    @foreach (BTUser member in Model.Members)
                                    {
                                        <li>
                                            @member.FullName
                                            <span>
                                                <img src="@_FileService.ConvertByteArrayToFile(
                                                member.ImageData, member.ImageType, DefaultImage.BTUserImage)" />
                                            </span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col mt-5 ">
                    <div class="bg-secondary">
                        <div class="card m-1 p-2">
                            <div class="header">
                                <h2>Add Members?</h2>
                                <hr />
                            </div>
                            <div class="body" style="overflow-y:auto;height:300px;">
                                <select name="selected" class="form-select" multiple
                                        asp-items="ViewBag.NonMembers"
                                        aria-label="Company Members Not on Project">
                                </select>
                                <div class="form-group">
                                    <input type="submit" value="Add" class="btn btn-primary mt-3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col mt-5 ">
                    <div class="bg-secondary">
                        <div class="card m-1 p-2">
                            <div class="header">
                                <h2>Remove Members?</h2>
                                <hr />
                            </div>
                            <div class="body" style="overflow-y:auto;height:300px;">
                                <select name="removed" class="form-select" multiple
                                        asp-items="ViewBag.Members"
                                        aria-label="Company Members on Project">
                                </select>
                                <div class="form-group">
                                    <input type="submit" value="Remove" class="btn btn-primary mt-3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>