@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Project>
@inject IProjectService _ProjectService
@inject IFileService _FileService
@inject IRoleService _RoleService
@inject UserManager<BTUser> _UserManager
@{
    BTUser? currentUser = await _UserManager.GetUserAsync(User);
    BTRoles currentUserRole = await _RoleService.GetActiveUserRoleAsync(currentUser!.Id);
    ViewBag.Title = ViewBag.ActionName;
}

<div class="row">
    <div class="col-12 text-end">
        @*TO-DO: Search function*@
        @if (currentUserRole == BTRoles.Admin)
        {
            <a asp-action="Create" asp-controller="Projects" class="btn btn-primary">New Project</a>
        }
    </div>
</div>
<partial name="_ProjectsTablePartial" model="Model" />